.App {
  border-radius: 7px;
  border: 1px solid white;
  background-color: white;
  display: flex;
  width: 50vw;
  height: 50vh;
  box-shadow: 0px 0px 5px white;
  justify-content: center;
  align-items: center;
}